@use '../variables/colors.scss' as colors;
@use '../variables/spacing.scss' as spacing;
@use '../variables/fonts.scss' as fonts;

.earlier-articles {
  margin: spacing.$base-margin * 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h3 {
    text-transform: uppercase;
    padding: spacing.$base-padding * 2 0;
    text-align: center;
    color: colors.$color-white;
    letter-spacing: spacing.$letter-space;
  }

  & .earlier-articles__articles__container {
    display: grid;
    gap: 1em;
    grid-template-areas:
      'article1 article1 article1 article2 article2 article2'
      'article3 article3 article4 article4 article5 article5';
  }

  & article {
    height: 25em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
    color: white;
    border-radius: spacing.$border-radius;
    background-position: center;
    background-size: 100%;
    transition: all 0.2s ease-in;
    cursor: pointer;

    & .article__buttons {
      display: flex;
      gap: 1em;

      & button {
        padding: 0.5em 1.2em;
        text-transform: capitalize;
        border-radius: spacing.$border-radius;
        border: 1px solid colors.$color-dark;
        color: colors.$color-dark;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        cursor: pointer;
        &:hover {
          background-color: white;
          border-color: white;
          color: colors.$color-dark;
        }
      }
    }

    & h3 {
      text-align: start;
      padding: 0;
      font-size: fonts.$h3-small;
      color: colors.$color-dark;
    }

    & p {
      font-size: fonts.$p-medium;
      color: colors.$color-dark;
    }
  }

  & article:hover {
    background-size: 102%;
  }

  .load-more {
    margin: 2em;
    width: 70%;
    padding: 1.8em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: spacing.$border-radius;
    cursor: pointer;
    background-color: colors.$btn-color;
    border: none;
    color: white;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: colors.$btn-hover-color;
      color: colors.$btn-color;
    }
  }
}

.earlier-articles__articles__container__article:nth-child(1) {
  grid-area: article1;
  background-image: url('https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80'),
    linear-gradient(
      90deg,
      rgba(255, 158, 216, 1) 0%,
      rgba(255, 158, 216, 1) 48%,
      rgba(255, 158, 216, 1) 100%
    );
  background-blend-mode: soft-light;
  .article__buttons {
    & button:hover {
      color: rgba(255, 158, 216, 1);
      background-color: colors.$color-dark;
      border-color: colors.$color-dark;
    }
  }
}

.earlier-articles__articles__container__article:nth-child(2) {
  grid-area: article2;
  background-image: url('https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'),
    linear-gradient(
      90deg,
      rgb(207, 142, 78) 0%,
      rgb(207, 142, 78) 0%,
      rgb(207, 142, 78) 0%
    );
  background-blend-mode: soft-light;
  .article__buttons {
    & button:hover {
      color: rgb(207, 142, 78);
      background-color: colors.$color-dark;
      border-color: colors.$color-dark;
    }
  }
}

.earlier-articles__articles__container__article:nth-child(3) {
  grid-area: article3;
  background-image: url('https://images.unsplash.com/photo-1486946255434-2466348c2166?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80'),
    linear-gradient(rgba(0, 0, 0, 0.402), #22211e80);
  background-blend-mode: soft-light;
  .article__buttons {
    & button {
      color: white;
      border-color: white;
    }
  }
  & p,
  h3 {
    color: white;
  }
}
.earlier-articles__articles__container__article:nth-child(4) {
  grid-area: article4;
  background-image: url('https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80'),
    linear-gradient(
      90deg,
      rgba(226, 121, 98, 1) 100%,
      rgba(207, 136, 3, 1) 100%
    );
  background-blend-mode: soft-light;
  .article__buttons {
    & button:hover {
      color: rgba(226, 121, 98, 1);
      background-color: colors.$color-dark;
      border-color: colors.$color-dark;
    }
  }
}

.earlier-articles__articles__container__article:nth-child(5) {
  grid-area: article5;
  background-image: url('https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80'),
    linear-gradient(rgba(0, 0, 0, 0.402), #22211e80);
  background-blend-mode: soft-light;
  .article__buttons {
    & button {
      color: white;
      border-color: white;
    }
  }
  & p,
  h3 {
    color: white;
  }
}
