@use '../variables/colors' as colors;
@use '../variables/spacing.scss' as spacing;

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8em;

  & a {
    text-decoration: none;
    color: white;
    &:hover::after {
      content: '';
      height: 0.4em;
      width: 0.4em;
      border-radius: 50%;
      background-color: gray;
      position: absolute;
    }
  }
}

.header__nav img {
  height: 2.5em;
  cursor: pointer;
}

.header__nav__ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
  list-style-type: none;
  font-size: 1.3em;
  font-weight: 600;
  color: colors.$primary-font;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  text-transform: capitalize;

  & li:nth-child(1) {
    & a {
      &::after {
        content: '';
        height: 0.4em;
        width: 0.4em;
        border-radius: 50%;
        background-color: colors.$color-orange;
        position: absolute;
      }
    }
  }
}
