@use '../variables/colors.scss' as colors;
@use '../variables/spacing.scss' as spacing;
@use '../variables/fonts.scss' as fonts;

.articles {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  justify-content: center;
  align-items: center;

  & article {
    height: 40em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: spacing.$border-radius;
    background-position: center;
    padding: 10em;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    & .article__btns {
      align-self: self-start;
      display: flex;
      gap: 2em;
      padding: 2em 0;

      & button {
        padding: 0.5em 1em;
        border-radius: spacing.$border-radius;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      & button:hover {
        background-color: white;
        color: colors.$color-dark;
      }
    }

    & .article__content {
      display: flex;
      flex-direction: column;
      gap: 2em;
      color: white;

      & h2 {
        font-size: fonts.$h2-medium;

        & i {
          visibility: hidden;
          opacity: 0;
          transition: visibility, opacity 0.5s ease-in-out;
        }
      }

      & h2:hover {
        & i {
          visibility: visible;
          opacity: 1;
        }
      }

      & h3 {
        font-size: fonts.$h3-small;
      }
    }
  }

  & .article:nth-child(1) {
    background-image: url('https://plus.unsplash.com/premium_photo-1667823753540-09e632d4fc81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'),
      linear-gradient(rgba(0, 0, 0, 0.402), #22211e80);
  }

  & .article:nth-child(2) {
    background-image: url(../../../assets/livingroom.webp),
      linear-gradient(
        90deg,
        rgba(226, 190, 98, 1) 100%,
        rgba(207, 136, 3, 1) 100%
      );

    background-blend-mode: soft-light;

    & .article__btns button {
      color: colors.$article-font;
      border-color: colors.$article-font;
    }

    & .article__btns button:hover {
      background-color: colors.$color-dark;
      color: #f2c94c;
    }

    & .article__content {
      color: colors.$article-font;
    }
  }
  & .article:nth-child(3) {
    background-image: url(../../../assets/museum.jpg),
      linear-gradient(rgba(0, 0, 0, 0.402), #22211e80);

    background-blend-mode: overlay;
  }

  & article:hover {
    //transform: scale(1.2);
    background-size: 105%;
  }
}
