$primary-background: #252530;
$primary-font: #ebebeb;

$article-font: #3e3e5f;
$color-orange: #ffb469;
$color-pink: #ff9ed8;
$color-purple: #77008f;
$color-yellow: #fed672;
$btn-color: #363643;
$color-blue: #1423ff;
$color-white: #ffffff;
$color-dark: #3e3e5f;
$btn-hover-color: #ffb469;
$btn-color: #363643;
