.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8em;
}
.header__nav a {
  text-decoration: none;
  color: white;
}
.header__nav a:hover::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
}

.header__nav img {
  height: 2.5em;
  cursor: pointer;
}

.header__nav__ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
  list-style-type: none;
  font-size: 1.3em;
  font-weight: 600;
  color: #ebebeb;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  text-transform: capitalize;
}
.header__nav__ul li:nth-child(1) a::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: #ffb469;
  position: absolute;
}

.main {
  display: grid;
  gap: 1em;
  margin: 4em auto;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5";
}
.main .main__article {
  min-height: 15em;
  border-radius: 1.5em;
}
.main .main__article:nth-child(1) {
  grid-area: item1;
  background: url("https://images.unsplash.com/photo-1567016546367-c27a0d56712e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
}
.main .main__article:nth-child(2) {
  grid-area: item2;
  background: url("https://images.unsplash.com/photo-1586105251261-72a756497a11?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=658&q=80");
  background-position: center;
  background-size: cover;
}
.main .main__article:nth-child(3) {
  grid-area: item3;
  background: url("https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80");
  background-position: top;
  background-size: cover;
}
.main .main__article:nth-child(3) .main__article__pinned {
  background-color: #3e3e5f;
  color: rgba(255, 180, 105, 0.8);
}
.main .main__article:nth-child(4) {
  grid-area: item4;
  background: url("https://images.unsplash.com/photo-1610123172705-a57f116cd4d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
}
.main .main__article:nth-child(5) {
  grid-area: item5;
  background: url("https://images.unsplash.com/photo-1563786785330-2ad8162ef53a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
}
.main .main__article:nth-child(5) .main__article__pinned {
  background-color: #3e3e5f;
  color: rgba(255, 158, 216, 0.8);
}

.main__article__container {
  height: 100%;
  padding: 2em;
  border-radius: 1.5em;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__article__container .main__article__pinned {
  padding: 0.7em 1.5em;
  color: #3e3e5f;
  background-color: white;
  font-size: 0.7em;
  width: fit-content;
  border-radius: 1.5em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.main__article:nth-child(2) .main__article__container {
  background-color: rgba(20, 35, 255, 0.8);
}

.main__article:nth-child(3) .main__article__container {
  background-color: rgba(255, 180, 105, 0.8);
  color: #3e3e5f;
}

.main__article:nth-child(4) .main__article__container {
  background-color: rgba(119, 0, 143, 0.8);
}

.main__article:nth-child(5) .main__article__container {
  background-color: rgba(255, 158, 216, 0.8);
  color: #3e3e5f;
}

.main__article__author {
  font-size: 1.1em;
}

.main__article__title {
  font-size: 2em;
  font-weight: bold;
}

.main__article:hover {
  transform: translate(0, -5px);
  transition: 0.2s ease-in-out;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 2em;
  justify-content: center;
  align-items: center;
}
.articles article {
  height: 40em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  background-position: center;
  padding: 10em;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.articles article .article__btns {
  align-self: self-start;
  display: flex;
  gap: 2em;
  padding: 2em 0;
}
.articles article .article__btns button {
  padding: 0.5em 1em;
  border-radius: 1.5em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.articles article .article__btns button:hover {
  background-color: white;
  color: #3e3e5f;
}
.articles article .article__content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: white;
}
.articles article .article__content h2 {
  font-size: 6em;
}
.articles article .article__content h2 i {
  visibility: hidden;
  opacity: 0;
  transition: visibility, opacity 0.5s ease-in-out;
}
.articles article .article__content h2:hover i {
  visibility: visible;
  opacity: 1;
}
.articles article .article__content h3 {
  font-size: 2em;
}
.articles .article:nth-child(1) {
  background-image: url("https://plus.unsplash.com/premium_photo-1667823753540-09e632d4fc81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"), linear-gradient(rgba(0, 0, 0, 0.402), rgba(34, 33, 30, 0.5019607843));
}
.articles .article:nth-child(2) {
  background-image: url("https://images.unsplash.com/photo-1639125470955-faa8f6fef1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"), linear-gradient(90deg, rgb(226, 190, 98) 100%, rgb(207, 136, 3) 100%);
  background-blend-mode: soft-light;
}
.articles .article:nth-child(2) .article__btns button {
  color: #3e3e5f;
  border-color: #3e3e5f;
}
.articles .article:nth-child(2) .article__btns button:hover {
  background-color: #3e3e5f;
  color: #f2c94c;
}
.articles .article:nth-child(2) .article__content {
  color: #3e3e5f;
}
.articles .article:nth-child(3) {
  background-image: url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"), linear-gradient(rgba(0, 0, 0, 0.402), rgba(34, 33, 30, 0.5019607843));
  background-blend-mode: overlay;
}
.articles article:hover {
  background-size: 105%;
}

.earlier-articles {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.earlier-articles h3 {
  text-transform: uppercase;
  padding: 2em 0;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.earlier-articles .earlier-articles__articles__container {
  display: grid;
  gap: 1em;
  grid-template-areas: "article1 article1 article1 article2 article2 article2" "article3 article3 article4 article4 article5 article5";
}
.earlier-articles article {
  height: 25em;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2em;
  color: white;
  border-radius: 1.5em;
  background-position: center;
  background-size: 100%;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.earlier-articles article .article__buttons {
  display: flex;
  gap: 1em;
}
.earlier-articles article .article__buttons button {
  padding: 0.5em 1.2em;
  text-transform: capitalize;
  border-radius: 1.5em;
  border: 1px solid #3e3e5f;
  color: #3e3e5f;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.earlier-articles article .article__buttons button:hover {
  background-color: white;
  border-color: white;
  color: #3e3e5f;
}
.earlier-articles article h3 {
  text-align: start;
  padding: 0;
  font-size: 2em;
  color: #3e3e5f;
}
.earlier-articles article p {
  font-size: 1.2em;
  color: #3e3e5f;
}
.earlier-articles article:hover {
  background-size: 102%;
}
.earlier-articles .load-more {
  margin: 2em;
  width: 70%;
  padding: 1.8em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: #363643;
  border: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
.earlier-articles .load-more:hover {
  background-color: #ffb469;
  color: #363643;
}

.earlier-articles__articles__container__article:nth-child(1) {
  grid-area: article1;
  background-image: url("https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"), linear-gradient(90deg, rgb(255, 158, 216) 0%, rgb(255, 158, 216) 48%, rgb(255, 158, 216) 100%);
  background-blend-mode: soft-light;
}
.earlier-articles__articles__container__article:nth-child(1) .article__buttons button:hover {
  color: rgb(255, 158, 216);
  background-color: #3e3e5f;
  border-color: #3e3e5f;
}

.earlier-articles__articles__container__article:nth-child(2) {
  grid-area: article2;
  background-image: url("https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"), linear-gradient(90deg, rgb(207, 142, 78) 0%, rgb(207, 142, 78) 0%, rgb(207, 142, 78) 0%);
  background-blend-mode: soft-light;
}
.earlier-articles__articles__container__article:nth-child(2) .article__buttons button:hover {
  color: rgb(207, 142, 78);
  background-color: #3e3e5f;
  border-color: #3e3e5f;
}

.earlier-articles__articles__container__article:nth-child(3) {
  grid-area: article3;
  background-image: url("https://images.unsplash.com/photo-1486946255434-2466348c2166?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"), linear-gradient(rgba(0, 0, 0, 0.402), rgba(34, 33, 30, 0.5019607843));
  background-blend-mode: soft-light;
}
.earlier-articles__articles__container__article:nth-child(3) .article__buttons button {
  color: white;
  border-color: white;
}
.earlier-articles__articles__container__article:nth-child(3) p,
.earlier-articles__articles__container__article:nth-child(3) h3 {
  color: white;
}

.earlier-articles__articles__container__article:nth-child(4) {
  grid-area: article4;
  background-image: url("https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"), linear-gradient(90deg, rgb(226, 121, 98) 100%, rgb(207, 136, 3) 100%);
  background-blend-mode: soft-light;
}
.earlier-articles__articles__container__article:nth-child(4) .article__buttons button:hover {
  color: rgb(226, 121, 98);
  background-color: #3e3e5f;
  border-color: #3e3e5f;
}

.earlier-articles__articles__container__article:nth-child(5) {
  grid-area: article5;
  background-image: url("https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"), linear-gradient(rgba(0, 0, 0, 0.402), rgba(34, 33, 30, 0.5019607843));
  background-blend-mode: soft-light;
}
.earlier-articles__articles__container__article:nth-child(5) .article__buttons button {
  color: white;
  border-color: white;
}
.earlier-articles__articles__container__article:nth-child(5) p,
.earlier-articles__articles__container__article:nth-child(5) h3 {
  color: white;
}

.subscribe {
  width: 50%;
  margin: 2em auto;
  text-align: center;
  padding: 1em;
}
.subscribe .subscribe__title {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 0.5em 0;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.subscribe .subscribe__typing {
  font-size: 2em;
  padding: 0.3em 0;
  font-weight: bold;
  color: white;
  width: fit-content;
  margin: 0 auto;
  animation: typing 3s steps(30) infinite alternate, bliking 0.3s alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
}
.subscribe .subscribe__email {
  display: block;
  margin: 1.5em auto;
  width: 80%;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em 0;
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid white;
  transition: width 0.3s linear;
}
.subscribe .subscribe__email:focus {
  width: 100%;
  outline: none;
}
.subscribe .subscribe__button {
  padding: 2.5em;
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.2em;
  border-radius: 1em;
  border: none;
  background-color: #363643;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.subscribe .subscribe__button:hover {
  background-color: #ffb469;
  color: #363643;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes blinking {
  0% {
    border-right: none;
  }
  50% {
    border-right: 1px solid white;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}
.footer .footer__header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 3em;
  color: white;
}
.footer .footer__header h3 a {
  color: grey;
  text-decoration: none;
}
.footer .footer__header .footer__header__ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: 700;
}
.footer .footer__header .footer__header__ul a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
.footer .footer__header .footer__header__ul a:hover::after {
  content: "";
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
}
.footer .footer__header .footer__header__ul li:nth-child(1) a::after {
  content: "";
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background-color: #ffb469;
  position: absolute;
}
.footer .footer__header .footer__header__copyright {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: grey;
}
.footer .footer__social {
  display: flex;
  gap: 2em;
  height: 30px;
}
.footer i {
  font-size: 2em;
  color: white;
}
.footer i:hover {
  color: #ffb469;
}

.aside {
  font-size: 1.2em;
  font-weight: var(--font-weight-secondary-extra-bold);
  line-height: 1.4;
  position: fixed;
  z-index: 200;
  color: white;
  top: 0;
  left: 0;
  font-weight: bold;
  cursor: default;
  transform: rotate(-90deg) translate(-100%, -90px);
  text-align: center;
  letter-spacing: 1.5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252530;
  width: 90%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
